<div class="left">
  <a [routerLink]="['/', 'home']" class="button">Home</a>
</div>

<div class="right">
  <button *ngIf="flyModeEnable" (click)="onSwitchFlyMode()" [class.active]="flyModeActive">
    FLY
  </button>

  <button (click)="onSwitchStats()" [class.active]="statsActive">
    STATS
  </button>

  <button *ngIf="hdDefinitionEnable" (click)="onSwitchDefinition()" [class.active]="hdDefinitionActive">
    HD
  </button>

  <button (click)="onSwitchAntialias()" [class.active]="antialiasActive">
    ANTIALIAS
  </button>
</div>

