<app-container
  [stats$]="stats$"
  [antialias$]="antialias$"
  (containerInit)="onContainerInit($event)"

  [vrButtonEnable]="true"
  (vrSessionStart)="onVRSessionStart()"
  (vrSessionEnd)="onVRSessionEnd()"
></app-container>
<app-menu
  [flyModeActive]="flyMode$ | async"
  (switchFlyMode)="onSwitchFlyMode()"

  [statsActive]="stats$ | async"
  (switchStats)="onSwitchStats()"

  [hdDefinitionActive]="isHDDefinition$ | async"
  (switchDefinition)="onSwitchDefinition()"

  [antialiasActive]="antialias$ | async"
  (switchAntialias)="onSwitchAntialias()"
></app-menu>

