<app-container
  [antialias$]="antialias$"
  (rendererInit)="onRendererInit($event)"
  (rendererUpdate)="onRendererUpdate($event)"

  [vrButton]="true"
  (vrSessionStart)="onVRSessionStart()"
  (vrSessionEnd)="onVRSessionEnd()"

  [statsEnable]="true"
></app-container>
<app-menu
  [isflyMode]="flyMode$ | async"
  (switchFlyMode)="onSwitchFlyMode()"

  [isHDDefinition]="isHDDefinition$ | async"
  (switchDefinition)="onSwitchDefinition()"

  [isAntialias]="antialias$ | async"
  (switchAntialias)="onSwitchAntialias()"
></app-menu>
