<div class="container">
  <a class="button" [routerLink]="['/', 'earth']">
    <span class="img" style="background-image: url('/assets/home/earth.png')">
      Earth
    </span>
  </a>
  <a class="button" [routerLink]="['/', 'aviator']">
     <span class="img" style="background-image: url('/assets/home/aviator.png')">
      Aviator
    </span>
  </a>
  <a class="button" [routerLink]="['/', 'planets']">
    <span class="img" style="background-image: url('/assets/home/planets.png')">
      Planets
    </span>
  </a>
</div>
